  <app-header></app-header>
  <!-- BEGIN :: WARPPER -->
  <div id="wrapper">
    <div class="content">
        <section class="parallax-section single-par" data-scrollax-parent="true">
            <div class="bg par-elem" data-bg="../assets/images/bg/11.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
            <div class="overlay op7"></div>
            <div class="container">
                <div class="section-title center-align big-title">
                    <h2><span> Blog </span></h2>
                    <span class="section-separator"></span>
                    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, exercitationem! </p>
                </div>
            </div>
            <div class="header-sec-link">
                <a href="javascript:void(0);" class="custom-scroll-link"><i class="fal fa-angle-double-down"></i></a>  
            </div>
        </section>
        
        <section>
            <div class="listing-item-container init-grid-items fl-wrap" id="lisfw">
                <div class="container">
                    <!-- BEGIN :: COL-8 LEFT SIDE DIV -->
                    <div class="col-md-8 col-sm-12">
                        <!-- BEGIN :: LISTING ITEM -->
                        <div class="listing-item">
                            <article class="geodir-category-listing fl-wrap">
                                <div class="geodir-category-img">
                                    <a href="blog-detail.html" class="geodir-category-img-wrap fl-wrap">
                                        <img src="../assets/images/all/1.jpg" alt=""> 
                                    </a>
                                    <div class="listing-avatar">
                                        <a href="javascript:void(0);"><img src="../assets/images/avatar/1.jpg" alt=""></a>
                                        <span class="avatar-tooltip">Added By  <strong>Alisa Noory</strong></span>
                                    </div>
                                </div>
                                <div class="geodir-category-content fl-wrap">
                                    <div class="geodir-category-content-title fl-wrap">
                                        <div class="geodir-category-content-title-item">
                                            <h3 class="title-sin_map">
                                                <a href="blog-detail.html"> Best Development Services </a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="geodir-category-text fl-wrap">
                                        <p class="small-text">Sed interdum metus at nisi tempor laoreet. Integer gravida orci a justo sodales.</p>
                                    </div>
                                    <div class="geodir-category-footer fl-wrap">
                                        <a class="listing-item-category-wrap">
                                            <div class="listing-item-category red-bg">
                                                <i class="fal fa-calendar"></i>
                                            </div>
                                            <span> Posted on : 23 Sep, 2021 </span>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- END :: LISTING ITEM -->

                        <!-- BEGIN :: LISTING ITEM -->
                        <div class="listing-item">
                            <article class="geodir-category-listing fl-wrap">
                                <div class="geodir-category-img">
                                    <a href="blog-detail.html" class="geodir-category-img-wrap fl-wrap">
                                        <img src="../assets/images/all/2.jpg" alt=""> 
                                    </a>
                                    <div class="listing-avatar">
                                        <a href="javascript:void(0);"><img src="../assets/images/avatar/2.jpg" alt=""></a>
                                        <span class="avatar-tooltip">Added By  <strong>Alisa Noory</strong></span>
                                    </div>
                                </div>
                                <div class="geodir-category-content fl-wrap">
                                    <div class="geodir-category-content-title fl-wrap">
                                        <div class="geodir-category-content-title-item">
                                            <h3 class="title-sin_map">
                                                <a href="blog-detail.html"> Best Development Services </a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="geodir-category-text fl-wrap">
                                        <p class="small-text">Sed interdum metus at nisi tempor laoreet. Integer gravida orci a justo sodales.</p>
                                    </div>
                                    <div class="geodir-category-footer fl-wrap">
                                        <a class="listing-item-category-wrap">
                                            <div class="listing-item-category red-bg">
                                                <i class="fal fa-calendar"></i>
                                            </div>
                                            <span> Posted on : 23 Sep, 2021 </span>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- END :: LISTING ITEM -->

                        <!-- BEGIN :: LISTING ITEM -->
                        <div class="listing-item">
                            <article class="geodir-category-listing fl-wrap">
                                <div class="geodir-category-img">
                                    <a href="blog-detail.html" class="geodir-category-img-wrap fl-wrap">
                                        <img src="../assets/images/all/3.jpg" alt=""> 
                                    </a>
                                    <div class="listing-avatar">
                                        <a href="javascript:void(0);"><img src="../assets/images/avatar/3.jpg" alt=""></a>
                                        <span class="avatar-tooltip">Added By  <strong>Alisa Noory</strong></span>
                                    </div>
                                </div>
                                <div class="geodir-category-content fl-wrap">
                                    <div class="geodir-category-content-title fl-wrap">
                                        <div class="geodir-category-content-title-item">
                                            <h3 class="title-sin_map">
                                                <a href="blog-detail.html"> Best Development Services </a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="geodir-category-text fl-wrap">
                                        <p class="small-text">Sed interdum metus at nisi tempor laoreet. Integer gravida orci a justo sodales.</p>
                                    </div>
                                    <div class="geodir-category-footer fl-wrap">
                                        <a class="listing-item-category-wrap">
                                            <div class="listing-item-category red-bg">
                                                <i class="fal fa-calendar"></i>
                                            </div>
                                            <span> Posted on : 23 Sep, 2021 </span>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- END :: LISTING ITEM -->
                        
                        <!-- BEGIN :: LISTING ITEM -->
                        <div class="listing-item">
                            <article class="geodir-category-listing fl-wrap">
                                <div class="geodir-category-img">
                                    <a href="blog-detail.html" class="geodir-category-img-wrap fl-wrap">
                                        <img src="../assets/images/all/1.jpg" alt=""> 
                                    </a>
                                    <div class="listing-avatar">
                                        <a href="javascript:void(0);"><img src="../assets/images/avatar/1.jpg" alt=""></a>
                                        <span class="avatar-tooltip">Added By  <strong>Alisa Noory</strong></span>
                                    </div>
                                </div>
                                <div class="geodir-category-content fl-wrap">
                                    <div class="geodir-category-content-title fl-wrap">
                                        <div class="geodir-category-content-title-item">
                                            <h3 class="title-sin_map">
                                                <a href="blog-detail.html"> Best Development Services </a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="geodir-category-text fl-wrap">
                                        <p class="small-text">Sed interdum metus at nisi tempor laoreet. Integer gravida orci a justo sodales.</p>
                                    </div>
                                    <div class="geodir-category-footer fl-wrap">
                                        <a class="listing-item-category-wrap">
                                            <div class="listing-item-category red-bg">
                                                <i class="fal fa-calendar"></i>
                                            </div>
                                            <span> Posted on : 23 Sep, 2021 </span>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- END :: LISTING ITEM -->

                        <!-- BEGIN :: LISTING ITEM -->
                        <div class="listing-item">
                            <article class="geodir-category-listing fl-wrap">
                                <div class="geodir-category-img">
                                    <a href="blog-detail.html" class="geodir-category-img-wrap fl-wrap">
                                        <img src="../assets/images/all/2.jpg" alt=""> 
                                    </a>
                                    <div class="listing-avatar">
                                        <a href="javascript:void(0);"><img src="../assets/images/avatar/2.jpg" alt=""></a>
                                        <span class="avatar-tooltip">Added By  <strong>Alisa Noory</strong></span>
                                    </div>
                                </div>
                                <div class="geodir-category-content fl-wrap">
                                    <div class="geodir-category-content-title fl-wrap">
                                        <div class="geodir-category-content-title-item">
                                            <h3 class="title-sin_map">
                                                <a href="blog-detail.html"> Best Development Services </a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="geodir-category-text fl-wrap">
                                        <p class="small-text">Sed interdum metus at nisi tempor laoreet. Integer gravida orci a justo sodales.</p>
                                    </div>
                                    <div class="geodir-category-footer fl-wrap">
                                        <a class="listing-item-category-wrap">
                                            <div class="listing-item-category red-bg">
                                                <i class="fal fa-calendar"></i>
                                            </div>
                                            <span> Posted on : 23 Sep, 2021 </span>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- END :: LISTING ITEM -->

                        <!-- BEGIN :: LISTING ITEM -->
                        <div class="listing-item">
                            <article class="geodir-category-listing fl-wrap">
                                <div class="geodir-category-img">
                                    <a href="blog-detail.html" class="geodir-category-img-wrap fl-wrap">
                                        <img src="../assets/images/all/3.jpg" alt=""> 
                                    </a>
                                    <div class="listing-avatar">
                                        <a href="javascript:void(0);"><img src="../assets/images/avatar/3.jpg" alt=""></a>
                                        <span class="avatar-tooltip">Added By  <strong>Alisa Noory</strong></span>
                                    </div>
                                </div>
                                <div class="geodir-category-content fl-wrap">
                                    <div class="geodir-category-content-title fl-wrap">
                                        <div class="geodir-category-content-title-item">
                                            <h3 class="title-sin_map">
                                                <a href="blog-detail.html"> Best Development Services </a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="geodir-category-text fl-wrap">
                                        <p class="small-text">Sed interdum metus at nisi tempor laoreet. Integer gravida orci a justo sodales.</p>
                                    </div>
                                    <div class="geodir-category-footer fl-wrap">
                                        <a class="listing-item-category-wrap">
                                            <div class="listing-item-category red-bg">
                                                <i class="fal fa-calendar"></i>
                                            </div>
                                            <span> Posted on : 23 Sep, 2021 </span>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- END :: LISTING ITEM -->  
                        
                        <!-- BEGIN :: PAGINATION -->
                        <div class="pagination">
                            <a href="#" class="prevposts-link"><i class="fas fa-caret-left"></i><span>Prev</span></a>
                            <a href="#">1</a>
                            <a href="#" class="current-page">2</a>
                            <a href="#">3</a>
                            <a href="#">...</a>
                            <a href="#">7</a>
                            <a href="#" class="nextposts-link"><span>Next</span><i class="fas fa-caret-right"></i></a>
                        </div>
                        <!-- END :: PAGINATION -->
                    </div>
                    <!-- END :: COL-8 LEFT SIDE DIV -->

                    <!-- BEGIN :: COL-4 RIGHT SIDE DIV -->                                
                    <div class="col-md-4 col-sm-12">
                        <div class="box-widget-wrap fl-wrap fixed-bar">                              
                            <!-- BEGIN :: CATEGORIES -->
                            <div class="box-widget-item fl-wrap block_box">
                                <div class="box-widget-item-header">
                                    <h3>Categories</h3>
                                </div>
                                <div class="box-widget fl-wrap">
                                    <div class="box-widget-content">
                                        <ul class="cat-item no-list-style">
                                            <li><a href="#">Standard</a> <span>3</span></li>
                                            <li><a href="#">Video</a> <span>6 </span></li>
                                            <li><a href="#">Gallery</a> <span>12 </span></li>
                                            <li><a href="#">Quotes</a> <span>4</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- END :: CATEGORIES -->                            

                            <!-- BEGIN :: POPULAR POSTS -->
                            <div class="box-widget-item fl-wrap block_box">
                                <div class="box-widget-item-header">
                                    <h3>Popular Posts</h3>
                                </div>
                                <div class="box-widget  fl-wrap">
                                    <div class="box-widget-content">
                                        <!--widget-posts-->
                                        <div class="widget-posts  fl-wrap">
                                            <ul class="no-list-style">
                                                <li>
                                                    <div class="widget-posts-img"><a href="blog-single.html"><img src="../assets/images/gallery/thumbnail/1.png" alt=""></a></div>
                                                    <div class="widget-posts-descr">
                                                        <h4><a href="blog-detail.html">Nullam dictum felis</a></h4>
                                                        <div class="geodir-category-location fl-wrap"><a href="#"><i class="fal fa-calendar"></i> 27 Mar 2019</a></div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="widget-posts-img"><a href="blog-single.html"><img src="../assets/images/gallery/thumbnail/2.png" alt=""></a></div>
                                                    <div class="widget-posts-descr">
                                                        <h4><a href="blog-detail.html">Scrambled it to mak</a></h4>
                                                        <div class="geodir-category-location fl-wrap"><a href="#"><i class="fal fa-calendar"></i> 12 May 2018</a></div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="widget-posts-img"><a href="blog-single.html"><img src="../assets/images/gallery/thumbnail/3.png" alt=""></a> </div>
                                                    <div class="widget-posts-descr">
                                                        <h4><a href="blog-detail.html">Fermentum nis type</a></h4>
                                                        <div class="geodir-category-location fl-wrap"><a href="#"><i class="fal fa-calendar"></i>22 Feb  2018</a></div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="widget-posts-img"><a href="blog-single.html"><img src="../assets/images/gallery/thumbnail/4.png" alt=""></a> </div>
                                                    <div class="widget-posts-descr">
                                                        <h4><a href="blog-detail.html">Rutrum elementum</a></h4>
                                                        <div class="geodir-category-location fl-wrap"><a href="#"><i class="fal fa-calendar"></i> 7 Mar 2017</a></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- widget-posts end-->
                                    </div>
                                </div>
                            </div>
                            <!-- END :: POPULAR POSTS -->

                            <!-- BEGIN :: CONTACT US -->
                            <div class="box-widget-item fl-wrap">
                                <div class="banner-wdget fl-wrap">
                                    <div class="overlay"></div>
                                    <div class="bg"  data-bg="../assets/images/bg/13.jpg"></div>
                                    <div class="banner-wdget-content fl-wrap">
                                        <h4>Whant to be notified about new post and news ? Subscribe For a Newsletter.</h4>
                                        <a href="contact.html" class="custom-scroll-link color-bg"> Contact Us </a>
                                    </div>
                                </div>
                            </div>
                            <!-- END :: CONTACT US -->                                    
                        </div>
                    </div>
                    <!-- END :: COL-4 RIGHT SIDE DIV -->
                </div>
            </div>
        </section>
    </div>
</div>
<!-- END :: WARPPER -->
<app-footer></app-footer>