 <app-header></app-header>
 <!-- BEGIN :: WARPPER -->
 <div id="wrapper">
    <div class="content">
        <section class="parallax-section single-par" data-scrollax-parent="true">
            <div class="bg par-elem" data-bg="../assets/images/bg/11.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
            <div class="overlay op7"></div>
            <div class="container">
                <div class="section-title center-align big-title">
                    <h2><span> Database Services </span></h2>
                    <span class="section-separator"></span>
                    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, exercitationem! </p>
                </div>
            </div>
            <div class="header-sec-link">
                <a href="javascript:void(0);" class="custom-scroll-link"><i class="fal fa-angle-double-down"></i></a>  
            </div>
        </section>
        
        <section>
            <div class="container">
                <div class="section-title">
                    <h2> Under Construction </h2>
                    <div class="section-subtitle"> We will come soon </div>
                    <span class="section-separator"></span>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ex ad dicta </p>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- END :: WARPPER -->
<app-footer></app-footer>